/* General container styling */
.container2 {
  background-color:#F7FAFC; /* Semi-transparent white */
  padding: 15px 40px; /* Padding for better spacing */
  border-radius: 8px;
  width: 70vh !important; /* Fixed width for larger screens */
  margin: auto;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure it is above other content */
}

/* Inner container to align content */
.inner-container2 {
  margin-top: 0px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form logo */
.logo img {
  width: 150px; /* Logo size */
}

/* Title styling */
.title {
  font-size: 28px;
  margin: 0;
  color: #333;
}

/* Form input fields */
.form {
  width: 50vh;
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 1px; /* Add spacing between inputs */
}

.input:focus {
  border-color: #4caf50; /* Highlight border when focused */
  outline: none;
}

/* Submit button */
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* File input styling */
input[type="file"] {
  font-size: 14px;
  margin-top: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container2 {
    width: 90%;
    top: 50%;
  }

  .form {
    width: 25vh;
  }

  .input {
    font-size: 14px;
    padding: 10px;
    height: 6vh;
  }

  .submit-button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .container2 {
    width: 95%;
    padding: 10px;
  }

  .title {
    font-size: 20px;
  }

  .form {
    width: 25vh;
  }

  .input {
    font-size: 12px;
    padding: 8px;
    height: 6vh;
  }

  .submit-button {
    font-size: 12px;
    padding: 8px;
  }
}
